<div class="index_listing">
  <h3><%= obj.title %></h3>
  <div class="clear"></div>
  <ul>
    <li><span class="orange">Place: </span><%=h obj.place %></li>
    <li><span class="orange">Start Date: </span> <%=h obj.start_date.to_s(:nice_date) %></li>
    <li><span class="orange">End Date: </span> <%=h obj.end_date.to_s(:nice_date) %></li>
    <li><span class="orange">Event Website:</span> <%= link_to "#{obj.title}", "#{obj.website_url}", :target => "_blank" %></li>
  </ul>
</div>