<%= form_for(@document_type) do |f| %>
  <%= render :partial => "shared/error_block", :locals => {:object => f} %>
  <p>
    <%= f.label :document_type %><br />
    <%= f.text_field :document_type %>
  </p>
  <p>
    <%= f.label :document_extension %><br />
    <%= f.text_field :document_extension %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>