<% meta_keywords("public health care sector, public health care fraud, public sector insurance payor, public sector cliams payment software")%>
<% meta_description("HCI provides public sector claims payors with a suite of validated fraud services to maximize claims accuracy. Medicaid, Medicare Advantage, SCHIP") %>
<% page_title("Public Health Care Sector Fraud Prevention Services") %>

<% content_for :banner do %>
  <%= render :partial => 'shared/banners/short_banner', :locals => {:page => "property"} %>
<% end %>

<!-- Top Heading -->
<div class="full_row combo_header">
  <h2 class="thick_thin_header"><span>PROPERTY &amp;</span> Casualty.</h2>
  <p class="title_color">
    We aren't just another vendor with just another product.<br/>
    We're changing the P&C sector with better technology,<br/>
    better clinicians, better service and better savings results.
  </p>
</div>
<div class="secondary_full_row">
  <div class="sector_content_left">
    <p class="sub_titles">
      Start paying your health care claims the right<br/>
      way. Stop fraud, eliminate waste and save<br/>
      money with a total payment integrity solution.
    </p>
    <p>
      Our web-based payment integrity solutions are designed to help you maximize payment accuracy, identify fraudulent/suspect billing activity and save money. By combining our advanced Code Validator Pro<sup>&reg;</sup> (rules-based) and Fraud Finder Pro<sup>&reg;</sup> (profiling) software systems, you get better technology. By relying on experienced clinicians and investigators for claim validation, you get better results.
    </p>
    <h3 class="left">Find out more</h3>
    <ul>
      <% @services.each do |s| %>
      <li><%= link_to "#{s.acronym} Brochure", service_path(s) %></li>
      <% end %>
    </ul>
  </div>
  <div class="sector_grids service_wrap">
    <%= render :partial => 'shared/markets/property_sector_grid' %>
  </div>
</div>
<%= render :partial => "shared/quotes/full_quote", :locals => {:quote => @quote} %>
<%= render :partial => "shared/markets/public_grid" %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      app.ctaArrows();
    });
  </script>
<% end %>