<div id="service_links">
	<section>
		<header>
			Brochures &amp; Resources
		</header>
		<ul id="resource_links">
			<li class="commercial">
				<span></span>
				<%= link_to "Commercial MCOs", "#", :class => "button" %> 
			</li>
			<li class="dental"> 
				<span></span>
				<%= link_to "Dental Plans", "#", :class => "button" %> 
			</li>
			<li class="medicaid"> 
				<span></span>
				<%= link_to "Medicaid MCOs", "#", :class => "button" %> 
			</li>
			<li class="pnc">
				<span></span>
				<%= link_to "Property & Casualty", "#", :class => "button" %> 
			</li>
		</ul>
	</section>
	<section class="last">
		<header>
			The Next Steps
		</header>
		<ul id="step_links">
			<li> <%= link_to "Nucleus Platform", "#", :class => "button box_button" %> </li>
			<li> <%= link_to "Demo Request", "#", :class => "button box_button" %> </li>
		</ul>
	</section>
</div>